{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "> 1%"],
          "node": "6.2",
        },
        "useBuiltIns": true,
      }
    ],
    "react",
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
